spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shuttleclub
    username: shuttle
    password: shuttlepass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug